# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Environments
.main.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
docker-compose.override.yml

# Backup files
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# Static
staticfiles/

# Database
*.dump
*.dump.*

# OS
Thumbs.db
.DS_Store

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/